{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">

    {% if not request.user.is_authenticated %}
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>Se você já está cadastrado no Hero, basta entrar com seu usuário e senha abaixo:</p>

        <form>
            <div class="form-group">
              <label for="userInput">Usuário</label>
              <input type="text" name="username" class="form-control" id="userInput" aria-describedby="userHelp" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
              <label for="passwordInput">Senha</label>
              <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
          </form>

    </div>
    {% endif %}

    <div class="col-lg mt-3">

        {% block register_title %}
        <h4>Cadastro</h4>
        <p>Caso ainda não tenha cadastro, preencha o formulário a seguir para se cadastrar:</p>
        {% endblock register_title %}

        <form method="POST" action="">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ profileform|crispy }}

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}