{% extends "base.html" %}
{% load filters %}
{% load static %}

{% block content %}

{% if request.session.cart %}
    <div class="row mt-3">
        <div class="col">
            <h3>Carrinho de compras</h3>
            <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th class="d-none d-lg-block">Imagem</th>
                        <th>Produto</th>
                        <th>V.</th>
                        <th>QTD.</th>
                        <th>Total</th>
                    </tr>

                    {% for product in cart.values %}
                        <tr>
                            <td class="d-none d-lg-block">
                                <img class="cart-img" src="{% get_media_prefix %}{{ product.image }}">
                            </td>
                            <td>
                                <a href="{% url "product:detail" product.slug %}">
                                    {{ product.product_name }}
                                </a>

                                <a class="ml-3" href="#">
                                    <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>{{ product.variation_name }}</td>
                            <td>
                                {{ product.quantity }} x
                                {% if product.unit_promo_price %}
                                {{ product.unit_promo_price|formatted_price }}
                                {% else %}
                                {{ product.unit_price|formatted_price }}
                                {% endif %}
                            </td>

                            {% if product.quantitative_promo_price %}
                            <td>{{ product.quantitative_promo_price|formatted_price }}</td>
                            {% else %}
                            <td>{{ product.quantitative_price|formatted_price }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>



    <div class="row mt-3">
        <div class="col-lg">
            <p class='lead'>Total no carrinho</p>

            <div class='table-responsive'>
                <table class="table">
                    <tr>
                        <td class="font-weight-bold">Total</td>
                        <td>R$100000</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg mt-auto">
            <a class="btn btn-lg btn-block btn-primary" href="#">
                Finalizar a compra
            </a>
        </div>
    </div>
{% else %}
    <div class="row mt-3">
        <div class="col">
            <h3>Carrinho vazio</h3>
            <p class="lead">Não há produtos no seu carrinho.</p>
    </div>
{% endif %}

{% endblock content %}